[submodule "eeglab"]
	path = eeglab
	url = https://github.com/sccn/eeglab.git
[submodule "eye-catch"]
	path = eye-catch
	url = git@github.com:bigdelys/eye-catch.git
[submodule "EEG-Blinks"]
	path = EEG-Blinks
	url = git@github.com:VisLab/EEG-Blinks.git
